
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
[Cc]onfig/*
_ReSharper*/
[Tt]est[Rr]esult*
*/exe/linux/*
!*/exe/linux/.keepme
*.makedep
*.so
*.a
*.sdf
*.opensdf
*.dll
*.ipch
*.ear
.idea
*.iml
*.class
*.war
_bin/*
.DS_Store
.htaccess
.vs/*
PredictedInputCache_*.dat
target/
/UpgradeLog2.htm
/nepscp/out/production/nepscp/META-INF/MANIFEST.MF
/nepscp/out/artifacts/nepscp_jar/nepscp.jar
